@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500,700&display=swap');

.modal {
  color: white;
  --bs-modal-bg : rgba(33, 33, 34, 1);
}

body{
  background: #1A1A1D;
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}
