.card {
    /* display: flex; */
    align-items: center;
}

.button {
    background: #F3F36D;
    border-radius: 50px;
}

.button:disabled {
    background: #F3F36D;
    border-color: #F3F36D;
}

.spinner {
    background-color: #F3F36D;
    background: #F3F36D;
    border-color: #F3F36D;
    border-radius: 50%;
}

.spinner:disabled {
    background: #F3F36D;
    border-color: #F3F36D;
}

.wallet {
    border-color: #f3f36d;
    border-radius: 50px;
    border-width: 3px;
    color: #f3f36d;  
}