.dropdown {
  margin-top: 0.75rem;
}

.dropdown_menu {
  background-color: "#212122";
  color: white;
}

.dropdown_menu:hover {
  background: rgba(33, 33, 34, 0.1);
  color: white;
}

.profile {
  border-radius: 50px;
  border-width: 3px;
  border-color: #f3f36d;
  color: #f3f36d;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
